<header>
  <logo class="round">
  <% logo = image_tag("logo.png", :width => "60px", :alt => "Papernote", :class=> "round") %>
  <%= link_to logo, root_path %>
  </logo>
  
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
	  <%=currentuser.nil?%>
	  <%=!currentuser.nil?%>
      <% if currentuser %>
	    <li>Welcome <%= currentuser.name %>!   
		<%= link_to "Sign out", signout_path %></li>
	  <% else %>
	    <li><%= link_to "Facebook Sign in", "/auth/facebook" %></li>
	  <% end %>
	</ul>
  </nav>
</header>