<header>
  <logo class="round">
  <% logo = image_tag("logo.png", :width => "60px", :alt => "Papernote", :class=> "round") %>
  <%= link_to logo, root_path %>
  </logo>
  
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if currentuser %>
	    <li><%= link_to "Users", users_path %></li>
	    <li>Welcome <%= link_to  currentuser.name.to_s.split(" ").first, "/users/#{session[:user_id]}" %>   
		<%= link_to "(Sign out)", signout_path %></li>
	  <% else %>
	    <li><%= link_to "Facebook Sign in", "/auth/facebook" %></li>
	  <% end %>
	</ul>
  </nav>
</header>